body{
    background-color: #AAD031;
}
.navbar-default {
    min-height: 30px;
}


 .nav > li > a {
     position: relative;
     display: block;
     padding: 10px 12px;
 }
.navbar-brand {
    height: 50px;
    padding-top: 5px;
    padding-left: 11px;
    padding-right: 11px;
    line-height: 60px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 5px;
}
button{
    color: #fff;
    background-color: #2DCC70;
}
.maincontents{
	padding-top: 107px;

}
.ordernow{
    background-color: #c9aa2d;
    width: 240px;
    height: 45px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.order {
    margin: 25px;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}
.navbar-default {
    background-color: #F9EB92;
}

.middlecol{
    border: 2px solid #fff;
    margin-bottom: 60px;
    border-radius: 5px;
}
input{
    width:100%;
    border-radius: 5px;
    padding: 5px;
}
textarea{
    width:100%;
    border-radius: 5px;
}

.carousel{
    background-color: transparent;
    padding: 0px;
}
@media (min-width: 768px){
.carousel-inner{
    height: 490px;
    
    }
}


.rightbanner{
    border-radius: 5px;
    background-color: none;
    border: 2px solid #fff;
    min-height: 490px;
}
.leftbanner{
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
#rgd{
    width: 95%;
    padding-left: 5px;
}
#pwd{
    width: 47%;
    padding-left: 5px;
}

.myac{
    border: 2px solid #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.bottomsection{
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 75px;
}
.imgs{
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 3px;
}
.bottomborder{
    border-right: 1px solid #fff;
}